.beitrag {
    border-radius: 25px;
    background-color: rgb(235, 235, 235);
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
font-size: 30px;
text-decoration:none;
padding-top: 10px;
}
.link:hover{
text-decoration:underline;
}