body {
  background-color: rgb(189, 182, 182);
  font-family: "Arial";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex-grow: 1;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img {
  max-width: 100%;
}

h2 , h1, p{
  padding-left:20px;
}

input {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #ddd;
  outline: none;
}

.create {
  background-color: #04aa6d;
  opacity: 0.8;
  border-radius: 15px;
  margin: 10px;
}

.cancel {
  background-color: rgb(200, 20, 20);
  opacity: 0.8;
  border-radius: 15px;
  margin: 10px;
}

.create:hover {
  opacity: 1;
}

.cancel:hover {
  opacity: 1;
}

textarea {
  width: 80%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

textarea:focus {
  background-color: #ddd;
  outline: none;
}

.center,
label {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  text-align: center;
}

.reg {
  padding: 16px;
  margin: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(204, 204, 204);
  flex-direction: column;
  min-width: 00px;
  border-radius: 25px;
  width: 80%;
}

@media(min-width: 800px) {
  .reg {
    min-width: 600px;
    width: auto;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
